/* Reset Css
--------- */
body,
h1,
h2,
h3,
p,
ul,
li,
a {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Montserrat", sans-serif;
  /* font-family: 'Poppins', sans-serif;; */
}

img {
  display: block;
  max-width: 100%;
}

/* .content {
  max-width: 960px;
  margin: 0 auto;
} */

html {
  scroll-behavior: smooth;
}

/* MENU MOBILE */

.hide-menu {
  display: flex !important;
}
.visible-true {
  display: none !important;
}

.menu-mobile {
  display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  .menu-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: #111111;
    border-bottom: 1px solid #bbb7b4;
  }

  .menu-header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.563rem;
  }

  .menu-content {
    display: none;
    flex-direction: column;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 500;
  }

  .menu-content a {
    margin: 0.625rem 0;
    text-decoration: none;
    cursor: pointer;
  }

  .menu-content a:hover {
    color: #f7bb30;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .menu-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: #111111;
    border-bottom: 1px solid #bbb7b4;
  }

  .menu-header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.563rem;
  }

  .menu-content {
    display: none;
    flex-direction: column;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 500;
  }

  .menu-content a {
    margin: 0.625rem 0;
    text-decoration: none;
    cursor: pointer;
  }

  .menu-content a:hover {
    color: #f7bb30;
  }
}

/* Header
--------- */
.header {
  width: 100%;

  display: flex;
  justify-content: space-around;
  position: absolute;
  background-color: transparent;

  padding: 1.875rem 0;
  border-bottom: 1px solid #e2e4eb;

  text-transform: uppercase;
}

.logo {
  width: 12.5rem;
}

.logo:hover {
  transform: scale(1.2);
  transition: color 200ms linear;
  transition: transform 200ms linear;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav ul li {
  display: block;

  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;

  transition: color 200ms linear;
  transition: transform 200ms linear;
}

.menu-nav ul li:hover {
  color: #000000;
  transform: scale(1.2);
}

.menu-nav ul li:nth-child(-n + 3) {
  padding: 0 0.75rem; /* colocando padding nos 3 primeiros itens. */
}

.menu-nav ul li:nth-child(4) {
  padding: 0 0 0 0.75rem; /* colocando padding no lado esquerdo do último item */
}

@media only screen and (min-width: 768px) and (max-width: 1110px) {
  .menu {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    padding-bottom: 1.25rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .header {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .header {
    display: none;
  }
}

/* Intro
--------- */
.main {
  max-width: 100%;
  height: 100vh;

  background: url("../assets/bg.png") no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 35vh; /* posicionamento do wrapper */
}

/* conteúdo do main tudo junto */
.wrapper-main {
  max-width: 50rem;
}

.main h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
}

.main blockquote {
  color: #bbb7b4;

  margin-top: 0.313rem;

  font-size: 1.25rem;
  letter-spacing: 0.438rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.main p {
  text-align: center;
}

/* conteúdo do main tudo junto */

/* divisor do conteúdo */
.divider1 {
  width: 48px;
  height: 2px;
  margin-top: 4px;
  margin-bottom: 24px;
  border-left: 20px solid #21242d;
  background-color: #c0c4cd;
  background-color: white;
  margin: 0 auto;
}

.white {
  border-left-color: #fff;
  background-color: hsla(0, 0%, 100%, 0.4);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.divider2 {
  width: 48px;
  height: 2px;
  margin-top: 4px;
  margin-bottom: 24px;
  border-left: 20px solid #21242d;
  background-color: #000000;
  background-color: #000000;
  margin: 0 auto;
}

.black {
  border-left-color: #111111;
  background-color: hsla(0, 0%, 3%, 0.4);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}

/* fim do divisor de conteúdo */

/* buttons */
.call-to-action {
  text-align: center;
  padding-top: 0.625rem;
  margin-top: 1.25rem;
}

.button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.938rem 0.938rem;
  border-radius: 0.438rem;

  font-size: 0.875rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  background-color: #f7bb30;
  color: #000000;
}

.button:hover {
  background: #f5b010;
}

.whatsapp-button {
  position: fixed;

  right: 1.875rem;
  bottom: 0.938rem;

  transition: color 200ms linear;
  transition: transform 200ms linear;
}

.whatsapp-button:hover {
  transform: scale(1.2);
}

@media (min-width: 320px) and (max-width: 480px) {
  .main {
    padding-top: 6vh; /* posicionamento do wrapper */
  }

  .main p {
    margin: 0 auto;
    text-align: center;
    width: 280px;
    margin-bottom: 35px;
    line-height: 24px;

    font-size: 14px;
  }

  .whatsapp-button {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .main {
    padding-top: 17vh; /* posicionamento do wrapper */
  }

  .main p {
    text-align: center;
    width: 400px;
    margin-bottom: 35px;
  }

  .whatsapp-button {
    display: none;
  }
}

/* .topbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: #000;
  text-decoration: none;
}
.topbutton::after {
  content: "↑";
  font-size: 32px;
  font-weight: bold;
  color: aliceblue;
  transition: margin-top 250ms;
}
.topbutton:hover::after {
  margin-top:-8px;
} */

/* .back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed !important;
  right: 35px;
  width: 50px;
  height: 50px;
  

  bottom: 2rem;

  transition: color 200ms linear;
  transition: transform 200ms linear;
}

.back-button:hover {
  transform: scale(1.4);
}

.back-button::after {
  content: "";
  font-weight: bold;

  transition: margin-top 250ms;
}

.back-button:hover::after {
  margin-top:-8px;
} */
/* fim buttons */

/* css reutilizaveis */
.main-tittle {
  margin-bottom: 10px;
  line-height: 20px;
}

.title-white p {
  text-transform: uppercase;
  font-weight: bold;

  color: #bbb7b4;
}

.paragraph-big {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;

  color: #fff;
}
/* fim css reutilizaveis */

/* Serviços
--------- */
.servicos {
  width: 100%;
  background: #f8f8ff;
}

.servicos-container {
  display: flex;
  flex-wrap: wrap;

  padding: 3.75rem 3.75rem;
}

/* INICIOS LEFT SIDE */
.servicos-mobile {
  display: none;
}
.servicos-left-side {
  flex: 1;
  margin: 1.25rem;
  border-right: 1px solid #e2e4eb;
}

.servico-tittle p {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
  letter-spacing: 0.125rem;
  text-transform: uppercase;

  margin-bottom: 1.25rem;

  color: #5d5f64;
}

.box-container {
  width: 460px;

  position: relative;
  perspective: 1000px;

  color: black;
}

.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: justify;
}

.box h2 {
  text-align: center;
  color: #f7bb30;
}
.box p {
  width: 400px;
  font-size: 13px;
  align-self: start;
}

.box-container .box {
  width: 460px;
  height: 380px;
  padding: 10px;
  margin-top: 1.75rem;

  border-radius: 10px;

  position: absolute;
  display: flex;
  align-items: center;

  transform: rotateX(60deg) scale(0.8) translateY(50px);
  transition: all 0.7s ease;
  opacity: 0;
}

.box-container .box.show {
  transform: rotateX(0deg) scale(1) translateY(0px);
  opacity: 1;
}

.bg-servicos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 460px;
  height: 380px;
  padding: 10px;
  margin-top: 1.75rem;
  border-radius: 10px;

  position: absolute;
  display: flex;
  align-items: center;

  opacity: 1;

  color: white;
  background: #0a0b0d;
}
/* FIM LEFT SIDE */

/* INICIO RIGHT SIDE */
.box-container .load.show {
  transform: rotateX(0deg) scale(1) translateY(0px);
  opacity: 0;
}

.load h1 {
  font-size: 20px;
}
.load p {
  width: 300px;
  font-size: 14px;

  align-self: start;
}
/* FIM LEFT SIDE */

/* INICIO RIGHT SIDE */
.servicos-right-side {
  flex: 1;
  margin: 3.75rem 1.25rem;
}

.buttonservice-container {
  display: flex;
  flex-wrap: wrap;

  width: 80%;
}

.buttonservice {
  display: flex;
  position: relative;

  width: 50%;
  padding: 20px 80px;
}

.buttonservice p {
  position: absolute;
  text-align: left;
  cursor: pointer;

  width: 300px;
  left: 70px;
  top: 1%;
  font-size: 13px;
  font-weight: 700;

  color: black;
}

.image-effect {
  z-index: 999;
}

.image-effect:active img {
  transition: 0.04s;
  transform: scale(1.1);
}
/* FIM SERVIÇOS RIGHT SIDE */

@media only screen and (min-width: 768px) and (max-width: 1110px) {
  .servicos {
    background: #f8f8ff;
    display: flex;
    align-items: center;
  }

  .servico-tittle p {
    margin-top: 40px;
    margin-left: 60px;
    margin-bottom: 40px;
  }

  .bg-servicos {
    width: 440px;
    height: 380px;
    padding: 10px;
  }

  .servicos-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 0px;
  }

  .servicos-right-side {
    margin-top: 450px;
    margin-left: 50px;
  }

  .buttonservice-container {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
  }

  .buttonservice {
    display: flex;
    position: relative;

    width: 50%;
    padding: 25px 0px;
  }

  .buttonservice p {
    position: absolute;
    text-align: left;
    cursor: pointer;

    width: 120px;
    left: 70px;
    top: 1%;
    font-size: 13px;
    font-weight: 700;

    color: black;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .servicos {
    display: none;
  }

  .servicos-mobile {
    display: flex;
    padding: 1rem 1rem;
  }

  .divider2 {
    margin-top: 4px;
    margin-bottom: 10px;
  }

  .black {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .servicos-tittle-mobile p {
    font-size: 14px;
    line-height: 1rem;
    font-weight: 600;
    letter-spacing: 0.125rem;
    text-transform: uppercase;

    padding: 2.75rem 2.75rem;

    color: #5d5f64;
  }

  .conteudo-mobile {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    width: 400px;
  }

  .info-mobile {
    margin: 0 auto;
    padding: 10px;
  }

  .info-mobile img {
    display: flex;
    margin: 0 auto;
    padding: 10px 0;
  }

  .info-mobile h2 {
    color: black;
    font-size: 16px;

    text-align: center;
  }

  .info-mobile p {
    color: black;
    font-size: 12px;

    text-align: center;
    padding-bottom: 10px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .servicos {
    display: none;
  }

  .servicos-mobile {
    display: flex;
    padding: 1rem 1rem;
  }

  .divider2 {
    margin-top: 4px;
    margin-bottom: 10px;
  }

  .black {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .servicos-tittle-mobile p {
    font-size: 14px;
    line-height: 1rem;
    font-weight: 600;
    letter-spacing: 0.125rem;
    text-transform: uppercase;

    padding: 2.75rem 2.75rem;

    color: #5d5f64;
  }

  .conteudo-mobile {
    display: flex;
    flex-wrap: wrap;

    margin: 0 auto;

    width: 400px;
  }

  .info-mobile {
    margin: 0 auto;
    margin-right: 20px;
    padding: 10px;
  }

  .info-mobile img {
    display: flex;
    margin: 0 auto;
    padding: 10px 0;
  }

  .info-mobile h2 {
    color: black;
    font-size: 18px;

    text-align: center;
  }

  .info-mobile p {
    color: black;
    font-size: 14px;

    text-align: center;
    padding-bottom: 10px;
  }
}

/* Fim Serviços
--------- */

/*Inicio Call to action
--------- */
.wrapper-call-to-action {
  max-width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 5rem;

  background: #090909;
  /* opacity: 0.8; */
}

.wrapper-call-to-action :hover {
  opacity: 0.97;
}

.wrapper-call-to-action-info {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.938rem 0.938rem;
}

.wrapper-call-to-action-info h4 {
  color: #f7bb30;
}

.btn-call-to-action {
  padding: 0.75rem 0.75rem;
  border-radius: 0.313rem;
  border: 1px solid #111111;
  margin-left: 1.25rem;

  font-size: 0.75rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  background-color: #f7bb30;
  color: #111111;
}

.btn-wrapper2:hover {
  background: #f5b010;
}

/*Fim Call to action
--------- */

/* Sobre
--------- */
.sobre {
  background: #f8f8ff;
}
.sobre-container {
  display: flex;
  flex-wrap: wrap;

  padding: 3.75rem 3.75rem;
}

/* LEFT SIDE */
.sobre-left-side {
  flex: 1;
  margin: 1.25rem; /* antes estava 20 20px */
  border-right: 1px solid #e2e4eb;
}

.sobre-left-side h3 {
  font-size: 2rem;
  line-height: 2.813rem;

  margin-top: 3.75rem;
  margin-bottom: 1.25rem;

  color: #111111;
}

.sobre-left-side p {
  color: #111111;
}

.sobre-paragrafo-left {
  font-size: 1rem;
  margin-bottom: 2.813rem;
  margin-right: 1.25rem;
  line-height: 1.625rem;
}
.sobre-tittle p {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
  letter-spacing: 0.125rem;
  text-transform: uppercase;

  margin-bottom: 1.25rem;

  color: #5d5f64;
}

.sobre-icons {
  /*classe do container*/
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  width: 100%;
  max-width: 100%;
}

.sobre-icon {
  /*classe do item*/
  width: 100%;

  display: flex;
  align-items: center;

  margin-top: 1.625rem;
  padding-top: 0.75rem;
  padding-bottom: 1.25rem;
}

.sobre-icon p {
  font-size: 0.85rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 0.313rem;

  color: #111111;
}

.mini-sobre-icon {
  /*classe da imagem*/
  width: 1.5rem;
  margin-right: 0.938rem;
}

/* RIGHT SIDE */
.sobre-right-side {
  flex: 1;
  margin: 3.75rem 1.25rem;
}

.sobre-right-side h3 {
  text-align: center;
  font-size: 2rem;
  line-height: 2.813rem;

  margin-top: 2.4rem;
  margin-bottom: 3.25rem;

  color: #111111;
}

.sobre-item {
  width: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bio {
  font-size: 14px;
  text-align: center;
  font-style: italic;
  /* margin-top: 40px; */
  line-height: 1.5rem;
  color: #000000;
}

@media (min-width: 320px) and (max-width: 480px) {
  .sobre-left-side {
    border-right: none;
  }

  .sobre-left-side h3 {
    font-size: 1.5rem;
    line-height: 2rem;

    margin-top: 3.75rem;
    margin-bottom: 1.25rem;

    color: #111111;
  }

  .sobre-item {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .sobre-left-side {
    border-right: none;
  }

  .sobre-left-side h3 {
    font-size: 1.5rem;
    line-height: 2rem;

    margin-top: 3.75rem;
    margin-bottom: 1.25rem;

    color: #111111;
  }

  .sobre-item {
    display: flex;
    flex-direction: column;
  }
}
/* Fim Sobre
--------- */

/* Contato
--------- */
.section-contato {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* position: relative; */

  padding: 3.75rem 3.75rem;

  justify-content: center;
  align-items: center;
  background-color: transparent;
  background: #f8f8ff;
}

.contato-intro {
  display: flex;
  flex-direction: column;

  max-width: 60%;
  margin-bottom: 3.125rem;
  padding-right: 0.938rem;
  padding-left: 0.938rem;

  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.contato-intro h2 {
  color: #111111;
}

.wrapper {
  width: 100%;
  max-width: 75rem;

  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.features-v2 /*container segurando todos os itens */ {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.margin-bottom {
  margin-bottom: 3rem;
}

.feature-v2 /*itens da lista de contato*/ {
  display: flex;
  width: 33.33%;
  padding: 16px 25px 32px 15px;
  flex-direction: row;
  align-items: flex-start;
}

.icon /*estilização da parte do icon da lista.*/ {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 1.5rem;
  padding: 0.75rem;

  border-radius: 10px;
  background-color: #21242d;
}

.ghost /*estilização da parte do icon da lista.*/ {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #e2e4eb;
}

.left /*estilização da parte do icon da lista.*/ {
  margin-right: 1.5rem;
  margin-bottom: 0px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.feature-side-info /*informações de contato, wpp, telefone e e-mail.*/ {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feature-side-info h5 {
  color: #111111;
}

.feature-side-info p {
  color: #111111;
  font-size: 0.875rem;
}

.divider /*divisor da lista de contatos*/ {
  width: 3rem;
  height: 0.125rem;
  margin-top: 0.25rem;
  margin-bottom: 1.5rem;
  border-left: 1.25rem solid #111111;
  background-color: hsla(0, 0%, 3%, 0.4);
}

.divider.margin-v2 /*margin do divisor*/ {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

/*utilitarios contato */
.arrow-icon {
  height: 0.625rem;
  margin-left: 0.25rem;
}
/*utilitarios contato */

@media only screen and (min-width: 768px) and (max-width: 1110px) {
  .contato-intro {
    max-width: 100%;
    font-size: 2rem;
  }

  .feature-v2 /*itens da lista de contato*/ {
    display: flex;
    width: 30%;
    padding: 16px 25px 32px 15px;
    flex-direction: row;
    align-items: flex-start;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .contato-intro {
    max-width: 100%;
    font-size: 1.2rem;
  }

  .feature-v2 /*itens da lista de contato*/ {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-bottom: 40px;
    padding: 0;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .contato-intro {
    max-width: 100%;
    font-size: 1.2rem;
  }

  .feature-v2 /*itens da lista de contato*/ {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-bottom: 40px;
    padding: 0;
  }
}
/* Fim Contato
--------- */

/* Footer
--------- */
.footer {
  display: flex;
  justify-content: space-around;

  width: 100%;
  padding: 1rem;

  background: #090909;
}

.footer-container {
  display: flex;

  padding: 1.75rem 3.75rem;
}

.footer-item {
  width: 33.3333%;
  padding: 0 60px;
}

.footer-tittle {
  font-weight: bold;

  color: #f7bb30;

  margin-bottom: 10px;
}

.footer-logo img {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.footer-logo p {
  text-align: center;
  font-size: 13px;
}

.footer-info {
  text-align: center;
}

.footer-info-redes {
  display: flex;
  padding: 5px;
  justify-content: center;
}

.footer-info-redes img {
  display: flex;
  margin: 5px;
  align-items: center;
}

.links {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.tittle-left:before {
  content: ">";
  padding-right: 3px;
}

.copy {
  background: #090909;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-tittle {
    text-align: center;
    margin-top: 20px;
  }

  .footer-item {
    width: 100%;
    justify-content: center;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-tittle {
    text-align: center;
    margin-top: 20px;
  }

  .footer-item {
    width: 100%;
    justify-content: center;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/* Fim Footer
--------- */
